<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configsections>
		<section name="log4net" type="log4net.config.Log4NetConfigurationSectionHandler,log4net"/>
	</configsections>
	<log4net>
		<!--定义写错误信息的logger名，可以有多个Logger-->
		<!--Fatal-->
		<logger name="Logger_Fatal">
			<!--定义日志层级-->
			<level value="FATAL"/>
			<!--定义日志记录到什么介质中-->
			<appender-ref ref="FatalAppender"/>
		</logger>
		<!--Error-->
		<logger name="Logger_Error">
			<!--定义日志层级-->
			<level value="ERROR"/>
			<!--定义日志记录到什么介质中-->
			<appender-ref ref="ErrorAppender"/>
		</logger>

		<!--Warn-->
		<logger name="Logger_Warn">
			<!--定义日志层级-->
			<level value="WARN"/>
			<!--定义日志记录到什么介质中-->
			<appender-ref ref="WarnAppender"/>
		</logger>

		<!--Debug-->
		<logger name="Logger_Debug">
			<!--定义日志层级-->
			<level value="DEBUG"/>
			<!--定义日志记录到什么介质中-->
			<appender-ref ref="DebugAppender"/>
		</logger>

		<!--INFO-->
		<logger name="Logger_Info">
			<level value="INFO"/>
			<appender-ref ref="InfoAppender"/>
		</logger>
		
		<appender name="FatalAppender" type="log4net.Appender.RollingFileAppender">
			<!--日志存储路径-->
			<param name="File" value="LogFile\FatalLog\"/>
			<!--日志起始级别，低于此级别的日志不会被记录-->
			<param name="Threshold" value="All"/>
			<!--当文件存在时，是否追加到文件中-->
			<param name="AppendToFile" value="true"/>
			<!--最多产生的日志文件数，超过则只保留最新的n个。设定值为-1则为不限文件数量-->
			<param name="MaxSizeRollBackups" value="100"/>
			<!--单个文件最大空间，可用单位:[KB][MB][GB],不要使用小数否者会一直写入到当前文件中,默认大小为10MB,默认单位为字节-->
			<param name="MaximumFileSize" value="10MB"/>
			<!--是否只写到单个文件中-->
			<param name="StaticLogFileName" value="false"/>
			<param name="Encoding" value="utf-8"/>
			<!--记录日期的格式，如果不设置将会一直往一个日志文件中记录-->
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<!--创建日志文件的方式-->
			<!--设置为:Date则以日期方式创建日志文件-->
			<!--设置为:Size依然会以日期方式创建，这时候MaxSizeRollBackups和MaxFileSize设置才会生效-->
			<!--设置为:once则每次启动会创建一个文件-->
			<!--设置为:Composite[默认]则会同时按日期和大小创建文件-->
			<param name="RollingStyle" value="Composite"/>
			
			<!--日志文件布局-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n 异常时间：%d %n 线程ID:[%t] %n 日志级别:%-5p %n 异常位置：线程[%t] （文件：%file 行：%line）%n 描述信息：%m %n 异常：%exception%n"/>
			</layout>
		</appender>
		
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<!--日志存储路径-->
			<param name="File" value="LogFile\ErrorLog\"/>
			<!--日志起始级别，低于此级别的日志不会被记录-->
			<param name="Threshold" value="All"/>
			<!--当文件存在时，是否追加到文件中-->
			<param name="AppendToFile" value="true"/>
			<!--最多产生的日志文件数，超过则只保留最新的n个。设定值为-1则为不限文件数量-->
			<param name="MaxSizeRollBackups" value="100"/>
			<!--单个文件最大空间，可用单位:[KB][MB][GB],不要使用小数否者会一直写入到当前文件中,默认大小为10MB,默认单位为字节-->
			<param name="MaximumFileSize" value="10MB"/>
			<!--是否只写到单个文件中-->
			<param name="StaticLogFileName" value="false"/>
			<param name="Encoding" value="utf-8"/>
			<!--记录日期的格式，如果不设置将会一直往一个日志文件中记录-->
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<!--创建日志文件的方式-->
			<!--设置为:Date则以日期方式创建日志文件-->
			<!--设置为:Size依然会以日期方式创建，这时候MaxSizeRollBackups和MaxFileSize设置才会生效-->
			<!--设置为:once则每次启动会创建一个文件-->
			<!--设置为:Composite[默认]则会同时按日期和大小创建文件-->
			<param name="RollingStyle" value="Composite"/>
			
			<!--日志文件布局-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n 异常时间：%d %n 线程ID:[%t] %n 日志级别:%-5p %n 异常位置：线程[%t] （文件：%file 行：%line）%n 描述信息：%m %n 异常：%exception%n"/>
			</layout>
		</appender>
		
		<appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="LogFile\WarningLog\"/>
			<param name="Threshold" value="All"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxSizeRollBackups" value="100"/>
			<param name="MaximumFileSize" value="10MB"/>
			<param name="StaticLogFileName" value="false"/>
			<param name="Encoding" value="utf-8"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<param name="RollingStyle" value="Composite"/>

			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n 异常时间：%d %n 线程ID:[%t] %n 日志级别:%-5p %n 描述信息：%m %n"/>
			</layout>
		</appender>
		
		<appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="LogFile\DebugLog\"/>
			<param name="Threshold" value="All"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxSizeRollBackups" value="100"/>
			<param name="MaximumFileSize" value="10MB"/>
			<param name="StaticLogFileName" value="false"/>
			<param name="Encoding" value="utf-8"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<param name="RollingStyle" value="Composite"/>

			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n 异常时间：%d %n 线程ID:[%t] %n 日志级别:%-5p %n 描述信息：%m %n"/>
			</layout>
		</appender>
		
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="LogFile\InfoLog\"/>
			<param name="Threshold" value="All"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxSizeRollBackups" value="100"/>
			<param name="MaximumFileSize" value="10MB"/>
			<param name="StaticLogFileName" value="false"/>
			<param name="Encoding" value="utf-8"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<param name="RollingStyle" value="Composite"/>

			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n 异常时间：%d %n 线程ID:[%t] %n 日志级别:%-5p %n 描述信息：%m %n"/>
			</layout>
		</appender>
		
	</log4net>
</configuration>
<!--%m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息
%n(new line)：換行
%d(datetime):输出当前语句运行的时刻 
%r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数 
%t(thread id):当前语句所在的线程ID
%p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等
%c(class):当前日志对象的名称
%L：输出语句所在的行号
%F：输出语句所在的文件名
%-数字：表示该项的最小长度，如果不够，则用空格填充-->